<section>
    <mat-accordion>

        <mat-expansion-panel [hideToggle]="false">
            <mat-expansion-panel-header>
                <mat-panel-title>Criar um Post</mat-panel-title>
                <mat-panel-description></mat-panel-description>
            </mat-expansion-panel-header>
            <div>
                <input type="file" name="file" id="file" (change)="uploadImage($event)">
                <div [hidden]="!uploadPercent">
                    <mat-progress-bar mode="determinate" value="{{uploadPercent | async}}"></mat-progress-bar>
                </div>
                <div [hidden]="!imagem">
                    <img [src]="imagem ||  '//:0'">
                </div>
            </div>

            <div class="markdown-editor">



                <form class="markdown-editor" [formGroup]="templateForm">



                    <input matInput formControlName="titulo" placeholder="Titulo do Post">


                    <angular-markdown-editor textareaId="editor1" [options]="editorOptions" rows="12"
                        formControlName="body">
                    </angular-markdown-editor>



                    <br>
                    <button mat-raised-button color="accent" (click)="createPost()" [disabled]="!templateForm.valid">
                        {{buttonText}}
                    </button>

                </form>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</section>